In [131]:
import json
import pandas as pd

In [132]:
with open(r'Nested Columns.json') as data_file:    
    data = json.load(data_file)

In [133]:
df = pd.json_normalize(data)

In [134]:
df.columns = df.columns.map(lambda x: x.split(".")[-1])

In [135]:
df.head()

,id,company,location,president,email,tel
0,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210
1,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210

In [136]:
df.to_csv("Sample.csv", index = False)